<!---Possible entrys in type: Integer, Double, Long, Float, Short, Boolean, Byte, Char, String  --->
<?xml version="1.0" encoding="UTF-8"?>
<constants>
<constant name = "speed" type ="Integer">180</constant>
<constant name = "timeout" type ="Integer">10000</constant>
<constant name = "maxScans" type ="Integer">20</constant>
<constant name = "SensorMoveSpeed" type ="Integer">60</constant>
<constant name = "AnglePerScan" type ="9"></constant>
<constant name = "RobotIP" type ="String">???</constant>
<constant name = "RobotPort" type ="String">???</constant>
<constant name = "wheelDistance" type ="Double">15,8</constant>
<constant name = "wheelRadius" type ="Double">5,5</constant>
<constant name = "distancePerMove" type ="Integer">20</constant>
</constants>